.contents__right__center__message{ data: { id: message.id } }
  %h3.contents__right__center__message__name
    = message.user.nickname
  %h3.contents__right__center__message__date
    = current_date_in_Japanese message.created_at
    %h3.contents__right__center__message__text
      = message.try(:content)
  - if message.image?
    .contents__right__center__message__image
      = image_tag message.image.url
