%a{ href: chat_group_messages_path(group.id)}
  .contents__left__bottom__group
    %h3.contents__left__bottom__group__name
      = group.name
    %p.contents__left__bottom__group__message
      = render partial: :user, collection: group.users, as: :member
