%div{class: 'contents'}
	%dinv{class: 'contents__left'}
		%div{class: 'contents__left__top'}
			%h3{class: 'contents__left__top__user'} ユーザー名
			%p
				= link_to "", edit_user_registration_path , class: "fa fa-cog"
				= link_to "", new_chat_path , class: "fa fa-pencil-square-o"
		%div{class: 'contents__left__bottom'}
			%div{class: 'contents__left__bottom__group'}
				%h3{class: 'contents__left__bottom__group__name'} Tech::camp
				%p{class: 'contents__left__bottom__group__message'} Chatspace
	%div{class: 'contents__right'}
		%div{class: 'contents__right__top'}
			%div{class: 'contents__right__top__group'}
				%h3{class: 'contents__right__top__group__name'}Tech::太郎
				%p{class: 'contents__right__top__group__member'}Tech::太郎、Tech::次郎
			%h3{class: 'contents__right__top__edit'}Edit
		%div{class: 'contents__right__center'}
			%div{class: 'contents__right__center__message'}
				%h3{class: 'contents__right__center__message__name'}Tech::太郎
				%h3{class: 'contents__right__center__message__date'}2017/12/12
				%h3{class: 'contents__right__center__message__text'}Chatspace楽しい
		%div{class: 'contents__right__bottom'}
			%div{class: 'contents__right__bottom__input'}type a message
			%h3{class: 'contents__right__bottom__send'}SEND
