%div{class: 'contents'}
	%dinv{class: 'contents__left'}
		%div{class: 'contents__left__in'}
			%div{class: 'contents__left__in__top'}
				%h3{class: 'contents__left__in__top__user'} ユーザー名
				%p{class: "fa fa-pencil-square-o"}
				%p{class: "fa-external-link"}
			%div{class: 'contents__left__in__bottom'}
				%div{class: 'contents__left__in__bottom__group'}
					%h3{class: 'contents__left__in__bottom__group__name'} グループ名
					%p{class: 'contents__left__in__bottom__group__message'} メッセージ
	%div{class: 'contents__right'}
		%div{class: 'contents__right__in'}
			%div{class: 'contents__right__in__top'}
				%div{class: 'contents__right__in__top__group'}
					%h3{class: 'contents__right__in__top__group__name'}名前
					%p{class: 'contents__right__in__top__group__member'}メンバー
				%h3{class: 'contents__right__in__top__edit'}編集
			%div{class: 'contents__right__in__center'}
				%div{class: 'contents__right__in__center__message'}
					%h3{class: 'contents__right__in__center__message__name'}名前
					%h3{class: 'contents__right__in__center__message__date'}日付
					%h3{class: 'contents__right__in__center__message__text'}テキスト
			%div{class: 'contents__right__in__bottom'}
				%div{class: 'contents__right__in__bottom__input'}文字を入力してください
				%h3{class: 'contents__right__in__bottom__send'}送信