
%div{class: 'header'}新しいクラスページを作成しました。
%div{class: 'contents'}
  %div{class: 'contents__left'}
    %div{class: 'contents__left__top'}
      %h3 ユーザー名
      %p{class: "fa fa-pencil-square-o"}
      %p{class: "fa-external-link"}
    %div{class: 'contents__left__bottom'}
      %div{class: 'contents__left__bottom__chats'}
        %h3 チャット名
        %p メッセージ  (繰り返し)
  %div{class: 'contents__right'}
    %div{class: 'contents__right__top'}
      %div{class: 'contents__right__top__chats'}
        %h3 チャット名
        %p メンバー
      %div{class: 'contents__right__top__edit'}
        %h3 EDIT
    %div{class: 'contents__right__bottom'}
      %h3 ユーザー名
      %p コメント
    %div{class: 'contents__right__bottomtwo'}
    %div{class: 'contents__right__message'}
      %h3 文字を入力してください。
      %p 送信