@import "./reset";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "./chat";
@import "./user";

/* エラーメッセージ */
.alert-notice {
  color: #3c763d;
  background-color: #dff0d8;
  text-align:center;
}
.alert-alert {
  background-color: #f2dede;
  color: #a94442;
  text-align:center;
}
